<div class="container">
  <h1>Create a new post</h1>
  <div>
    <form action="/posts" method="post" id="post">
      <input id="title" name="title" type="text" value="give me a title">
      <textarea id="title" rows="9" cols="40" name="title"></textarea>
      <input id="tags" type="text" value=">
      <input type="submit" value="Post">    
    </form>
  </div>
</div>
