<div class="container">
  <h1>Create a new post</h1>
  <div>
    <form action="/posts" method="post" id="post">
      <input id="title" name="title" type="text" value="give me a title">
      <textarea id="body" rows="9" cols="50" name="body"></textarea>
      <input id="tags" type="text" value="tags, separated, by, commas">
      <input type="submit" value="Post">
    </form>
  </div>
</div>
