<div class="container">
  <h1><%= @post.title %></h1>
  <div><%= @post.body %></div>
  <div>
    <ul class="cloud">
    <% @tags.each do |t| %>
      <li><a href=""><%= t.name %></a></li>
    <% end %>
    </ul>
    <a href="/posts/<%= @post.id %>/edit">Edit this post</a>
  </div>
</div>
